@import "components/_settings.css";
@import "components/_vars.css";
@import "components/_fonts.css";
@import "components/_universal.scss";

body {
  color: var(--color-white);
  background-color: var(--color-background);
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}