@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

:root {
  --main-color: #5B96F7;
  --secondary-color: #fff;
  --main-text-color: #000;
  --secondary-text-color: #676767;

  --input-color: #EAF2FE;
  --aplication-sidebar-color: #F0F4FA;
}

[data-theme="white-blue"] {
  --main-color: #5B96F7;
  --input-color: #EAF2FE;
}

[data-theme="white-red"] {
  --main-color: #ef4444;
  --input-color: #ffecec;
}

[data-theme="white-green"] {
  --main-color: #10b981;
  --input-color: #e0f7f0;
}

[data-theme="white-purple"] {
  --main-color: #8b5cf6;
  --input-color: #e7dffa;
}

[data-theme="white-pink"] {
  --main-color: #d946ef;
  --input-color: #fbe2ff;
}

::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-track {
  background: #8d8d8d21;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #8d8d8d;
}

.custom-shadow {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.default-page-offset {
  padding: 30px;
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */