.chat_input {
  border-radius: 10px !important;

  &_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #3d3d3d;
  }

  &_send_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    border: none;
    width: 45px;
    height: 38px;
    background-color: var(--color-main);
    background-image: url("../../../assets/img/icon-send.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #79a9f7;
    }
  }
}