.user_search {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;

  &_header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding-bottom: 20px;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
  }
}