.form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;

  &_title {
    font-size: 45px;
    margin: 0 0 50px;
  }

  &_input {
    width: 100%;

    &_password {
      padding-right: 40px !important;
    }
  }

  &_password_wrapper {
    margin: 15px 0;
    position: relative;
    display: flex;
    width: 100%;
  }

  &_show {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  &_button {
    margin: 20px 0 0;
    font-size: 17px;
  }

  &_link {
    display: block;
    margin: 30px 0 0;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}