.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid var(--border-color);

  &_header {
    display: flex;
    align-items: center;
  }

  &_title {
    margin: 0;
    font-size: 32px;
  }

  &_avatar {
    margin: 0 0 0 auto;
  }
}