.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-right: 1px solid var(--border-color);

  &_avatar {
    margin: auto 0 0;
  }
}