.message {
  @apply flex items-center pr-6;
}

.message_is_unread {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    max-width: 10px;
    max-height: 10px;
    border-radius: 100%;
    background-color: var(--main-color);
    margin: 0 0 0 15px;
  }
}

.message_is_my {
  @apply justify-end self-end !pr-0 pl-6;
}

.message_is_my.message_is_unread {
  &::after {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    min-width: 10px;
    width: 10px;
    min-height: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--main-color);
    margin: 0 15px 0 0;
  }
}

.message_text {
  @apply flex items-center justify-center rounded-2xl px-5 py-3 bg-white text-[#696969];
}

.message_is_my .message_text {
  @apply bg-[var(--main-color)] text-white;
}

.message_date {
  @apply -mb-1 ms-2 block min-w-fit self-end text-xs text-[#888];
}