.search_chat_input {
  padding-left: 50px !important;
}

.input_wrapper {
  margin: 30px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input_icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}