.name {
  font-weight: 700;
  color: var(--color-white);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;

  img {
    display: block;
  }
}

.input {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-family: var(--font-family);
  color: #709CE6;
  background-color: #EAF2FE;

  &::placeholder {
    color: #709CE6;
  }
}

.button {
  align-self: center;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-main);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover {
    color: var(--color-main);
    background-color: var(--color-white);
  }
}

.title {
  margin: 0;
  font-size: 32px;
}

.avatar-placeholder {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--color-main);
  background-color: var(--color-white);
  text-transform: uppercase;
  user-select: none;
}