.message {
  position: relative;
  border-radius: 15px;
  max-width: 95%;
  padding: 10px;

  &_text {
    margin: 0;
    font-size: 14px;
    word-wrap: break-word;
  }

  &_companion {
    align-self: flex-start;
    color: #696969;
    background-color: var(--color-white);

    &.message_is_checked {
      &::after {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 50%;
        display: block;
        width: 7px;
        height: 7px;
        align-self: center;
        background-color: var(--color-main);
        border-radius: 100%;
        transform: translateY(50%);
        opacity: 0.8;
      }
    }
  }

  &_my {
    align-self: flex-end;
    color: var(--color-white);
    background-color: var(--color-main);

    &.message_is_checked {
      &::before {
        content: "";
        left: -15px;
        position: absolute;
        bottom: 50%;
        display: block;
        width: 7px;
        height: 7px;
        align-self: center;
        background-color: var(--color-main);
        border-radius: 100%;
        transform: translateY(50%);
        opacity: 0.8;
      }
    }
  }

  &_time {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 11px;
    transform: translateY(3px);
  }
}